<section class="products-index">

  <header class="page-header">
    <h1 style='text-align: center'>Welcome to Jungle</h1>
    <p style='text-align: center'>Browse our selection of god-awful products.</p>
  </header>

  <div class="products">
    <%= render @products %>
  </div>

</section>
